In [1]:
'''
    In native python, a dataframe can be thought of as a two-dimensional data structure.
    However, the best way to think about it is through a dictionary, in which every key
    can be thought of as a column and every value is a list containing values for that
    column.
'''

person = {
    'name': ['Ammar', 'Ahmed', 'Connor'],
    'age': [24, 25, 26],
    'isCoder': ['Yes', 'No', 'No']
}

person

{'name': ['Ammar', 'Ahmed', 'Connor'],
 'age': [24, 25, 26],
 'isCoder': ['Yes', 'No', 'No']}

In [2]:
import pandas as pd 
df = pd.DataFrame(person)
df

     name  age isCoder
0   Ammar   24     Yes
1   Ahmed   25      No
2  Connor   26      No

In [ ]:
'''
    Note, however, that a DataFrame is much much more than just a "dictionary" of a list. 
    It has a lot more functionality.
'''

In [3]:
print(type(person['age']))
print(type(df['age']))

<class 'list'>
<class 'pandas.core.series.Series'>

In [ ]:
''' 
    A series is a one-dimensional array. It can be thought of as list of rows for a single column. A Dataframe is then a collection
    of such series objects.
'''